body{
    margin: 0;
    padding: 0;
    background: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}
#root{
    width: 100vw;
    height: 100vh;
    cursor: url(images/slapper.png), default;
}

/*starting text*/
.animate-text{
    animation: fadeIn 1s linear;
    width: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*fade out animation*/
.fadeOut{
    animation: fadeOut 2s linear !important;
}

/*kill counter*/
#kill-count{
    float: right;
    padding: 30px;
    color: rgb(0, 45, 111);
    font-weight: bold;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
#kill-count span{
    color: rgb(255, 68, 68);
    font-size: 40px
}

/*slapper*/
.slapped{
    cursor: url(images/slapper2.png), default !important; 
}

/*butterfly*/
.butterfly{
    position: fixed;
    width: 100px;
    animation: spawn 0.7s linear;
}
.despawn{
    animation: despawn 1.7s linear !important;
}

/*flies*/
.fly{
    position: fixed;
    width: 100px;
    animation: spawn 0.7s linear;
}

/*restart button*/
button{
    background-color: #fff ;
    position: fixed;
    top: 25px;
    left: 25px;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    color: #ff0000;
    border: 2px solid #ff0000;
}
button:hover{
    cursor: pointer;
    border: 2px solid #fff;
    color: #fff;
    background-color:  #ff0000;
}

/*animations*/
@keyframes fadeIn {
    0% { opacity: 0; top: 100vh; }
    80% { top: 45%; }
    100% {opacity: 1; top: 50%}
}
@keyframes fadeOut {
    from { opacity: 1;}
    to {opacity: 0;}
}
@keyframes spawn {
    from {transform: scale(0);}
    to {transform: scale(1);}
}
@keyframes despawn {
    from {transform: scale(1);}
    to {transform: scale(0);}
}